<!--因為一個template 只能有一個root，所以最外面用一個div包起來-->
<div>
  <div class="demo-input-label">
    <h3 class="left">ID</h3>
    <!-- v-mode是將value與變數做雙向綁定 -->
    <el-input placeholder="Please enter id" v-model="heroId">
    </el-input>

    <h3 class="left">NAME</h3>
    <el-input placeholder="Please enter name" v-model="heroName">
    </el-input>
    <h3 class="left">
      <el-button type="primary" @click="add()">Add</el-button>
    </h3>
  </div>
  <h3>Hero List</h3>
<!--
  data : 要放到datatable的陣列，綁定data變數
  pagination-def : 設定分頁屬性，前面加:代表與變數綁定，是 v-bind的簡寫
  table-props :　設定ｔａｂｌｅ格式與預設排序
  action-col-def : 設定列ａｃｔｉｏｎ的格式與動作
　v-loading : loading動畫，前面沒有：因為這是指令，不單只是ｄａｔａＴａｂｌｅ的屬性
-->
  <data-tables :data="data" :pagination-def="paginationDef" :table-props="tableProps" :action-col-def="actionColDef" v-loading="loading">
    <!--
      titles變數設定要顯示的ｌａｂｌｅ與對應的ｋｅｙ，後面的設定照抄就對了
    -->
    <el-table-column v-for="title in titles" :prop="title.prop" :label="title.label" :key="title.label" sortable="custom">
    </el-table-column>
  </data-tables>
  <!--
    :visible.sync="dialogFormVisible" <--綁定dialogFormVisible控制dialog是否顯示
  -->
  <el-dialog title="Hero Details" :visible.sync="dialogFormVisible" width="600px">
    <el-form :model="form">
      <el-form-item label="ID" :label-width="formLabelWidth">
        <el-input v-model="form.id" :disabled="true" size="small"></el-input>
      </el-form-item>
      <el-form-item label="NAME" :label-width="formLabelWidth">
        <el-input v-model="form.name" size="small"></el-input>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <!-- @click是v-on:click的簡寫 -->
      <el-button type="primary" @click="save()">Save</el-button>
      <el-button @click="dialogFormVisible = false">Cancel</el-button>
    </span>
  </el-dialog>

</div>
